#bg1 {
    background-image: url("./images/bg-image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#bg2 {
    background-image: url("./images/bg-image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
